<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link hrel="shortcut icon" href="/assets/img/bbu.gif" rel="icon" type="image/x-icon">
    <title>{if $title eq ''}Build Bright University{else}{$title}{/if}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/alertify.core.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/alertify.default.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/dashboard.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/flexslider.css">
    <link rel="stylesheet" href="/assets/css/datepicker.css">
    <link rel="stylesheet" href="/assets/css/common.css"  media="screen">
    <!--[if lt IE 9]>
      <script src="/assets/bootstrap/js/html5shiv.js"></script>
      <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/jquery.form.min.js"></script>
    <script src="/assets/js/jquery.flexslider-min.js"></script>
</head>
<body>
    <div id="page">
        <div id="page-inner">
            <div id="header">
                <div class="container">
                    <div id="logo">
                        <img src="/assets/img/logo.jpg" alt="BBU Logo">
                    </div>
                    <div id="user-menu">
                        <div class="user-menu-container">
                            <ul>
                            {if $ci->session->userdata("STUDENT_ID")}
                                <li>
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" href="#" class="user-name">{$ci->session->userdata("STUDENT_NAME")}</a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li><a href="/student/changepwd">Change Password</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/home/logout">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            {else if $ci->session->userdata("user_id")}
                                <li>
                                    <div class="dropdown">
                                        <a data-toggle="dropdown" href="#" class="user-name">{$ci->session->userdata("user_name")}</a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li><a href="/user/changepwd">Change Password</a></li>
                                            <li class="divider"></li>
                                            <li><a href="/home/logout">Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            {else}
                                <li><a href="/login"​​ data-toggle="modal" data-target="#login">Login</a></li>
                            {/if}
                            </ul>
                        </div>
                        <div class="user-detail">
                        {if $ci->session->userdata("STUDENT_ID")}
                            Promotion: {$ci->session->userdata("PROMOTION_NO")}, Stage: {$ci->session->userdata("STAGE_NO")}, Term: {$ci->session->userdata("TERM_NO")}, Group: {$ci->session->userdata("GROUP_NAME")}
                        {else if $ci->session->userdata("user_id")}
                            Group: <b>{$ci->session->userdata("group_name")}</b>
                        {/if}                       
                        </div>
                    </div>
                </div>
            </div>
        <div id="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a href="/" {if $page eq "home"}class="active"{/if}>Home</a></li>
                    {foreach from=$menu item=item}
                    <li><a href="/home/category/{$item.category_id}" {if $page eq $item.category_name}class="active"{/if}>{$item.category_name}</a></li>
                    {/foreach}
                    {if $ci->session->userdata("STUDENT_ID")}
                    <li><a href="/student/score" {if $page eq "score"}class="active"{/if}>Score</a></li>
                    <li><a href="/student/info" {if $page eq "info"}class="active"{/if}>Infomation</a></li>
                    {/if}
                    {if $ci->session->userdata("user_id")}
                    <li><a href="/dashboard" {if $page eq "dashboard"}class="active"{/if}>Dashboard</a></li>
                    {/if}
                </ul>
            </div>
        </div>