<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link hrel="shortcut icon" href="/assets/img/bbu.gif" rel="icon" type="image/x-icon">
    <title>{if $title eq ''}Build Bright University{else}{$title}{/if}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/alertify.core.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/alertify.default.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/dashboard.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/common.css"  media="screen">
    <!--[if lt IE 9]>
      <script src="/assets/bootstrap/js/html5shiv.js"></script>
      <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/jquery.form.min.js"></script>
    {if $ci->session->flashdata("message")}
    <script src="/assets/js/alertify.min.js"></script>
    <script>
        function notify () {
            alertify.log("{$ci->session->flashdata('message')}");
        }
        window.onload = notify;
    </script>
    {/if}

</head>
<body>
    <div id="page">
        <div id="page-inner">
            <div id="header">
                <div class="container">
                    <div id="logo">
                        <img src="/assets/img/logo.jpg" alt="BBU Logo">
                    </div>
                    <div id="user-menu">
                        <ul>
                        {if $ci->session->userdata("user_name")}
                            <li>
                                <div class="dropdown">
                                    <a data-toggle="dropdown" href="#" class="user_name">{$ci->session->userdata("user_name")}</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><a href="/student/changepasword">Change Password</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/user/logout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        {else}
                            <li><a href="/login"​​ data-toggle="modal" data-target="#login">Login</a></li>
                        {/if}
                        </ul>
                    </div>
                </div>
            </div>
        <div id="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">MIS</a></li>
                    <li><a href="#">Adcademic</a></li>
                    {if $ci->session->userdata("is_student")}
                    <li><a href="/student/score">Score</a></li>
                    <li><a href="/student/payment">Payment</a></li>
                    <li><a href="/student/info">Infomation</a></li>
                    {/if}
                </ul>
            </div>
        </div>
