{if validation_errors()}
    <div class="bs-callout bs-callout-danger">
        <h4>Input Error</h4>
        {validation_errors()}
    </div>
{/if}

{if $ci->session->flashdata("message")}
    <div class="bs-callout bs-callout-{$ci->session->flashdata('status')}">
        <h4>{$ci->session->flashdata('title')}</h4>
        {$ci->session->flashdata('message')}
    </div>
    <script>
        $(function() { $(".bs-callout").slideDown(); })
    </script>
{/if}

{if $error}
    <div class="bs-callout bs-callout-danger">
        <h4>Upload File</h4>
        {$error}
    </div>
{/if}