<ul class="nav nav-sidebar">
    <li {if $active eq "home"}class="active"{/if}><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
</ul>
<!-- Admin -->
<ul class="nav nav-sidebar">
    <li {if $active eq "user"}class="active"{/if}><a href="/dashboard/user"><i class="fa fa-user"></i> User</a></li>
    <li {if $active eq "user_add_new"}class="active"{/if}><a href="/dashboard/user/addnew"><i class="fa fa-plus"></i> Create User</a></li>
</ul>

<ul class="nav nav-sidebar">
    <li {if $active eq "group"}class="active"{/if}><a href="/dashboard/group"><i class="fa fa-users"></i> Group</a></li>
    <li {if $active eq "group_add_new"}class="active"{/if}><a href="/dashboard/group/addnew"><i class="fa fa-plus"></i> Create Group</a></li>
</ul>
<!-- Staff -->
<ul class="nav nav-sidebar">
    <li {if $active eq "postmanage"}class="active"{/if}><a href="/dashboard/post"><i class="fa fa-sitemap"></i> Manage Post</a></li>
    <li {if $active eq "newpost"}class="active"{/if}><a href="/dashboard/post/addnew"><i class="fa fa-plus"></i> Create Post</a></li>
</ul>

<!-- Shadow -->
<div class="sidebar_shadow"></div>