{include file='_header.html' title='Home'}
<script src="/assets/tinymce/tinymce.min.js"></script>
<script>
      tinymce.init({
          selector: "#tinymce",
          plugins: [
              "advlist autolink lists link image charmap print preview anchor",
              "searchreplace visualblocks code fullscreen",
              "insertdatetime media table contextmenu paste"
          ],
          toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
      });
</script>
<div class="page-container">
    <div class="sidebar-container">
        <div class="sidebar" id="sidebar">
            {include file='sidebar.html'}
        </div>
    </div>
    <div class="page-content" id="page-content">
        {if validation_errors()}
            <div class="bs-callout bs-callout-danger">
                <h4>Input Error</h4>
                {validation_errors()}
            </div>
        {/if}
        <h2>Post</h2>

        <form action='/dashboard/newpost' method='post' role="form" autocomplete="off">
            
            <div class="form-group">
                <label>Title</label>
                <input type='text' class="form-control" name='post_title' value='{set_value("post_title")}'>
            </div>
            
            <div class="form-group">
                <label>Content</label>
                <textarea id="tinymce" name='post_content' cols='60' rows='10'>{set_value("post_content")}</textarea>
            </div>

            <div class="form-group">
                <input type='submit' name='submit' value='Post'>
            </div>

        </form>
    </div>
</div>

{include file='_footer.html'}