{include file='_header.html' title="`$category.category_name`" page="`$category.category_name`"}

<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">{$category.category_name}</div>
                    <div class="panel-body">
                        <ul>
                            {foreach from=$posts item=item}
                            <li>
                                {include file="_post_item_template.html" id="`$item.post_id`" title="`$item.post_title`" type="`$item.post_type`" from="`$item.group_name`" date="`$item.post_date`"}
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{include file='_footer.html'}