{include file='_header.html' title="`$category.category_name`" page="`$category.category_name`"}

<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">{$category.category_name}</div>
                    <div class="panel-body">
                        <ul>
                            {foreach from=$posts item=item}
                            <li><p><a href="/home/post/{$item.post_id}">{$item.post_title}.</a><span class="post_date" title="{$post.post_date}"> - {$item.post_date|date_format:"%Y-%m-%d"} </span></p></li>
                            {/foreach}
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{include file='_footer.html'}