{include file='_header.html' page='dashboard'}

<div class="page-container">
    <div class="sidebar-container">
        <div class="sidebar" id="sidebar">
            {include file='_sidebar.html' active="postmanage"}
        </div>
    </div>
    <div class="page-content" id="page-content">
        <div class="col-md-8">
            <h2 class="page-header"><i class="fa fa-paste"></i> Edit Post</h2>
            {* form validate error *}
            {if validation_errors()}
                <div class="bs-callout bs-callout-danger">
                    <h4>Input Error</h4>
                    {validation_errors()}
                </div>
            {/if}

            {* session message *}
            {if $ci->session->flashdata("message")}
                <div class="bs-callout bs-callout-{$ci->session->flashdata('status')}">
                    <h4>{$ci->session->flashdata('title')}</h4>
                    {$ci->session->flashdata('message')}
                </div>
                <script>
                    $(function() { $(".bs-callout").slideDown(); })
                </script>
            {/if}
            
            {* Upload error *}
            {if $error}
                <div class="bs-callout bs-callout-danger">
                    <h4>Upload File</h4>
                    {$error}
                </div>
            {/if}

            {form_open_multipart("/post/update/`$post.post_id`")}
                <div class="form-group">
                    <label>Title</label>
                    <input type='text' class="form-control" name='post_title' value='{set_value("post_title", $post.post_title)}'  autofocus>
                </div>
                
                {if $post.post_type eq "IMAGE"}
                <div class="form-group" id="post_type_image">
                    <input id="input_type_image" name="input_type_image[]" type="file" multiple onchange="select_post_type(this.value)">
                </div>
                {else if $post.post_type eq "PDF"}
                <div class="form-group" id="post_type_pdf">
                    <input id="input_type_pdf" name="input_type_pdf[]" type="file" multiple onchange="select_post_type(this.value)">
                </div>
                {else if $post.post_type eq "TEXT"}
                <div class="form-group" id="post_type_text">
                    <label>Description</label>
                    <textarea id="input_type_text" class="form-control" name='post_description' cols='60' rows='10'>{set_value("post_description", $post.post_description)}</textarea>
                </div>
                {/if}

                <div class="form-group">
                    <input type='submit' class="btn btn-primary" name='submit' value='Save'>
                </div>

            </form>
        </div>
        
        <div class="col-md-4">
            <h2>File in this post</h2>

            {if $post.post_type eq "IMAGE"}
                {foreach $files as $file}
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object" src="/uploads/{$post.post_id}/thumbnail/{$file}">
                        </div>
                        <div class="media-body">
                            <p class="file-name">{$file}</p>
                            <a href="/uploads/{$post.post_id}/{$file}" target="_blank">View</a> |
                            <a href="/uploads/{$post.post_id}/{$file}" download>Download</a> |
                            <a href="/post/deletefile/{$post.post_id}/{$file}" onclick="return confirm('Are you sure want to delete {$file} ?')">Delete</a>
                        </div>
                    </div>
                {/foreach}
            {else if $post.post_type eq "PDF"}
                {foreach $files as $file}
                    <div class="media">
                        <div class="pull-left">
                            <i class="media-object fa fa-file-pdf-o fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <p>{$file}</p>
                            <a href="/uploads/{$post.post_id}/{$file}" target="_blank">View</a> |
                            <a href="/uploads/{$post.post_id}/{$file}" download>Download</a> |
                            <a href="/post/deletefile/{$post.post_id}/{$file}" onclick="return confirm('Are you sure want to delete {$file} ?')">Delete</a>
                        </div>
                    </div>

                {/foreach}
            {/if}
        </div>
    </div>
</div>
{include file='_footer.html'}