<!DOCTYPE html>
<html lang="en">
<head>
  	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link hrel="shortcut icon" href="/assets/img/bbu.gif" rel="icon" type="image/x-icon">
    <title>{$title}</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/common.css"  media="screen">
    <script src="/assets/lib/jquery-2.0.3.min.js"></script>
	<script src="/assets/lib/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
      <script src="/assets/bootstrap/js/html5shiv.js"></script>
      <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>