{include file='_header.html' page='home'}

    <div id="banner">
        <div class="container">
            <!-- image size 1140px x 430px -->

            <div class="flexslider">
                <ul class="slides">
                    <li><img src="/assets/img/slide/banner_web_master.jpg" alt=""></li>
                    <li><img src="/assets/img/slide/baner.jpg" alt=""></li>
                    <li><img src="/assets/img/slide/banerit.jpg" alt=""></li>
                </ul>
            </div>
            <script>$('.flexslider').flexslider({ animation: "fade", controlNav: false });</script>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <h2>Category</h2>
            <div class="row">
                {foreach from=$categories item=item}
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{$item.category_name}</div>
                        <div class="panel-body">
                            <ul>
                                {foreach from=$item.posts item=post}
                                    <li>
                                        {include file="_post_item_template.html" id="`$post.post_id`" title="`$post.post_title`" type="`$post.post_type`" from="`$post.group_name`" date="`$post.post_date`"}
                                    </li>
                                {/foreach}
                            </ul>
                        </div>
                        <div class="panel-footer"><a href="/home/category/{$item.category_id}">View All</a></div>
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>

{include file='_footer.html'}