{include file='_header.html' page='dashboard'}

<div class="page-container">
    <div class="sidebar-container">
        <div class="sidebar" id="sidebar">
            {include file='_sidebar.html' active="post_manage"}
        </div>
    </div>
    <div class="page-content" id="page-content">
        <h2 class="page-header"><i class="fa fa-sitemap"></i> Manage Post</h2>
        <p><i class="fa fa-plus"></i> <a href="/dashboard/post/addnew">Create New Post</a></p>
        {include file='_message.html'}
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:50%">Post Title</th>
                        <th>Create Date</th>
                        <th>Expire Date</th>
                        <th>Author</th>
                        <th>Enable</th>
                        <th>Total Visitor</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                {foreach from=$posts item=item}
                    <tr>
                        <td>{$item.post_title}</td>
                        <td title="{$item.post_date}">{$item.post_date|date_format:'%Y-%m-%d'}</td>
                        <td>{$item.expire_date}</td>
                        <td>{$item.user_name}</td>
                        <td>{$item.is_enable}</td>
                        <td>{$item.total_visitor}</td>
                        <td>
                            <a href="/home/post/{$item.post_id}" target="_blank">View</a> |
                            <a href="/dashboard/editpost/{$item.post_id}">Edit</a> |
                            <a href="/dashboard/deletepost/{$item.post_id}">Delete</a>
                        </td>
                    </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>
{include file='_footer.html'}