{include file='_header.html' page='dashboard'}

<div class="page-container">
    <div class="sidebar-container">
        <div class="sidebar" id="sidebar">
            {include file='_sidebar.html' active="post_manage"}
        </div>
    </div>
    <div class="page-content" id="page-content">
        <div class="col-md-8">
            <h2 class="page-header"><i class="fa fa-envelope-o"></i> Add New Post</h2>
            
            {if validation_errors()}
                <div class="bs-callout bs-callout-danger">
                    <h4>Input Error</h4>
                    {validation_errors()}
                </div>
            {/if}

            {if $ci->session->flashdata("message")}
                <div class="bs-callout bs-callout-{$ci->session->flashdata('status')}">
                    <h4>{$ci->session->flashdata('title')}</h4>
                    {$ci->session->flashdata('message')}
                </div>
                <script>
                    $(function() { $(".bs-callout").slideDown(); })
                </script>
            {/if}

            {if $error}
                <div class="bs-callout bs-callout-danger">
                    <h4>Upload File</h4>
                    {$error}
                </div>
            {/if}
            
            
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#Image" role="tab" data-toggle="tab">Image</a></li>
                <li><a href="#PDF" role="tab" data-toggle="tab">PDF</a></li>
                <li><a href="#Text" role="tab" data-toggle="tab">Text</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="Image">
                    {form_open_multipart("/post/addnew/image")}
                        <div class="form-group">
                            <label>Title</label>
                            <input type='text' class="form-control input-lg" name='post_title' value='{set_value("post_title")}' required autofocus>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="post_type_image">
                                    <label for="expire_date">Category</label>
                                    <select name="category" id="category" class="form-control input-lg">
                                        {foreach from=$categories item=item}
                                        <option value="{$item.category_id}">{$item.category_name}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="post_type_image">
                                    <label for="expire_date">Expire Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker input-lg" name="expire_date" id="expire_date" value='{set_value("expire_date")}' required>
                                        <span class="input-group-addon"><i class="fa fa-calendar-o"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="input_type_image">Choose Image</label>
                            <input id="input_type_image" class="form-control input-lg" name="input_type_image[]" type="file" multiple required accept="image/*">
                        </div>

                        <div class="form-group">
                            <input type='submit' class="btn btn-primary" name='submit' value='Publish'>
                        </div>
                    {form_close()}
                </div>
                <div class="tab-pane" id="PDF">
                    {form_open_multipart("/post/addnew/pdf")}
                        <div class="form-group">
                            <label>Title</label>
                            <input type='text' class="form-control input-lg" name='post_title' value='{set_value("post_title")}' required autofocus>
                        </div>
                        
                        <div class="form-group">
                            <label for="expire_date">Expire Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker input-lg" name="expire_date" id="expire_date" value='{set_value("expire_date")}' required>
                                <span class="input-group-addon"><i class="fa fa-calendar-o"></i>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="input_type_pdf">Choose PDF</label>
                            <input id="input_type_pdf" class="form-control input-lg" name="input_type_pdf[]" type="file" multiple required accept="application/pdf">
                        </div>
                        <div class="form-group">
                            <input type='submit' class="btn btn-primary" name='submit' value='Publish'>
                        </div>
                    {form_close()}
                </div>
                <div class="tab-pane" id="Text">
                    {form_open_multipart("/post/addnew/text")}
                        <div class="form-group">
                            <label>Title</label>
                            <input type='text' class="form-control input-lg" name='post_title' value='{set_value("post_title")}' required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="expire_date">Expire Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker input-lg" name="expire_date" id="expire_date" value='{set_value("expire_date")}' required>
                                <span class="input-group-addon"><i class="fa fa-calendar-o"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea id="input_type_text" class="form-control" name='post_description' cols='60' rows='10'>{set_value("post_content")}</textarea>
                        </div>
                        <div class="form-group">
                            <input type='submit' class="btn btn-primary" name='submit' value='Publish'>
                        </div>
                    {form_close()}
                </div>
            </div>
        </div>
        
        <div class="col-md-4"></div>

    </div>
</div>
{include file='_footer.html'}