{include file='_header.html' title=''}

<div id="content">
    <div class="container">
        <div class="row">
            
            <div class="col-md-8">
                
                <div class="panel panel-primary">
                    <div class="panel-heading">{$post.post_title} </div>
                    <div class="panel-body">
                        {foreach from=$attachments item=item}
                            <img src="{$smarty.const.VUPLOAD_PATH}{$item.file_name}">
                        {/foreach}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Relate Post</div>
                        <div class="panel-body">
                            <ul>
                            {foreach from=$relate_posts item=item}
                                <li><a href="/home/post/{$item.post_id}">{$item.post_title}</a> <span class="post_date" title="{$post.post_date}"> - {$post.post_date|date_format:"%Y-%m-%d"} </span></li>
                            {/foreach}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='_footer.html'}