{include file='_header.html' page='dashboard'}
<div class="page-container">
    <div class="sidebar-container">
        <div class="sidebar" id="sidebar">
            {include file='_sidebar.html' active="post_manage"}
        </div>
    </div>
    <div class="page-content" id="page-content">
        <div class="col-md-8">
            <h2 class="page-header"><i class="fa fa-paste"></i> Edit Post</h2>
            {* form validate error *}
            {if validation_errors()}
                <div class="bs-callout bs-callout-danger">
                    <h4>Input Error</h4>
                    {validation_errors()}
                </div>
            {/if}

            {* session message *}
            {if $ci->session->flashdata("message")}
                <div class="bs-callout bs-callout-{$ci->session->flashdata('status')}">
                    <h4>{$ci->session->flashdata('title')}</h4>
                    {$ci->session->flashdata('message')}
                </div>
                <script>
                    $(function() { $(".bs-callout").slideDown(); })
                </script>
            {/if}
            
            {* Upload error *}
            {if $error}
                <div class="bs-callout bs-callout-danger">
                    <h4>Upload File</h4>
                    {$error}
                </div>
            {/if}

            {form_open_multipart("/post/update/`$post.post_id`")}
                <div class="form-group">
                    <label>Title</label>
                    <input type='text' class="form-control input-lg" name='post_title' value='{set_value("post_title", $post.post_title)}'  autofocus>
                </div>

                <div class="form-group" id="post_type_image">
                    <label for="expire_date">Expire Date</label>
                    <div class="input-group">
                    <input type="text" class="form-control datepicker input-lg" name="expire_date" id="expire_date" value="{set_value("expire_date", $post.expire_date)}">
                        <span class="input-group-addon"><i class="fa fa-calendar-o"></i>
                    </div>
                </div>

                {if $post.post_type eq "IMAGE"}
                <div class="form-group">
                    <label for="input_type_image">Choose Image</label>
                    <input id="input_type_image" class="form-control input-lg" name="input_type_image[]" type="file" multiple>
                </div>
                {else if $post.post_type eq "PDF"}
                <div class="form-group">
                    <label for="input_type_pdf">Choose PDF</label>
                    <input id="input_type_pdf" class="form-control input-lg" name="input_type_pdf[]" type="file" multiple>
                </div>
                {else if $post.post_type eq "TEXT"}
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="input_type_text" class="form-control" name='post_description' cols='60' rows='10'>{set_value("post_description", $post.post_description)}</textarea>
                </div>
                {/if}

                <div class="form-group">
                    <input type='submit' class="btn btn-primary btn-lg" name='submit' value='Save'>
                </div>

            </form>
        </div>
        
        <div class="col-md-4">
            <h2>File in this post</h2>
            <div id="file_list">
            {if $post.post_type neq "TEXT"}
            <script>
                $(function() {
                    load_file_list("{$post.post_id}","{$post.post_type}","#file_list");
                });
            </script>
            {/if}
            </div>
        </div>
    </div>
</div>
{include file='_footer.html'}