{include file='_header.html' title=''}

<div id="content">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Post Title </div>
                    <div class="panel-body">
                        Panel content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quasi, iusto, laudantium temporibus omnis perferendis commodi voluptatibus labore voluptate amet consequatur adipisci quae itaque consequuntur voluptatem vel beatae delectus error rerum porro similique iste assumenda. Saepe, repellendus atque provident doloribus dolores odit id minus ad enim beatae? Animi, magnam, nostrum praesentium pariatur eaque suscipit similique possimus distinctio aperiam aspernatur sit ratione harum neque necessitatibus consequatur fugiat quibusdam sequi at repellat provident hic voluptatibus error autem in repellendus ipsum veritatis aliquid! Enim, quod, ratione ducimus nihil officia veniam voluptas nisi reprehenderit ut necessitatibus suscipit quam architecto quia explicabo alias quasi odio?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file='_footer.html'}