<ul class="nav nav-sidebar">
    <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
</ul>
<!-- Admin -->
<ul class="nav nav-sidebar">
    <li><a href="/dashboard/user"><i class="fa fa-user"></i> User</a></li>
    <li><a href="#"><i class="fa fa-users"></i> Group</a></li>
</ul>
<!-- Staff -->
<ul class="nav nav-sidebar">
    <li><a href="/dashboard/newpost"><i class="fa fa-pencil-square-o"></i> New Post</a></li>
    <li><a href="#"><i class="fa fa-sitemap"></i> Manage Post</a></li>
</ul>

<!-- Teacher -->
<ul class="nav nav-sidebar">
    <li><a href="#"><i class="fa fa-book"></i> Manage E-Book</a></li>
    <li><a href="#"><i class="fa fa-cloud-upload"></i> Upload E-Book</a></li>
</ul>

<!-- Student -->
<ul class="nav nav-sidebar">
    <li><a href="/dashboard/studentinfo"><i class="fa fa-graduation-cap"></i> Academic Infomation</a></li>
    <li><a href="#"><i class="fa fa-bar-chart-o"></i>  Score</a></li>
    <li><a href="#"><i class="fa fa-info-circle"></i> Personal Infomation</a></li>
    <li><a href="#"><i class="fa fa-list-alt"></i> Contact</a></li>
</ul>