{include file='_header.html' title='Student' page='score'}

    <div id="content">
        <div class="container">
        
        {if $ci->session->userdata("STUDENT_ID")}
            <div class="col-md-12">
                <div class="alert alert-info"><i class="fa fa-info-circle"></i> <span class="limon">kñúgkrNIFøak;muxviC¢axageRkam ³ sUmnisSitmkTak;Tgkarriyal½yfñak;qñaMsikSamUldæan b¤karriyal½ysikSaedImb,Idak;Bakü Rblgsg b¤eronsg .<i>elxTUrs½BÞkariyal½y 098 550 005</i></span></div>
            </div>
        {/if}

            <div class="col-md-12">
                <!-- Score tabs -->
                <ul class="nav nav-tabs" role="tablist" id="score_tab">
{$i=0}
{foreach from=$score item=item}
{if $i neq $item.TERM_NO}
                    <li><a href="#term_{$item.TERM_NO}" role="tab" data-toggle="tab">Term {$item.TERM_NO}</a></li>
{/if}
{$i = $item.TERM_NO}
{/foreach}
                </ul>
                <!-- Scre Tab panes -->
                <div class="tab-content">
{$term=0}
{foreach from=$score item=item}
    {if $term neq $item.TERM_NO}
        {if $term neq 0}
                        </table>
                    </div>
        {/if}
                        <div class="tab-pane" id="term_{$item.TERM_NO}">
                        <table class="table table-hover table-bordered table-striped">
                            <tr>
                                <th>Course</th>
                                <th class="midterm">Midterm</th>
                                <th class="final">Final</th>
                                <th class="total">Total</th>
                            </tr>
        {$term = $item.TERM_NO}
    {/if}
                            <tr {if $item.TOTAL_SCORE < 60 }class="danger"{/if}>
                                <td>{$item.COURSE_FULL_NAME}</td>
                                <td class="midterm">{$item.MID_TERM_SCORE}</td>
                                <td class="final">{$item.FINAL_SCORE}</td>
                                <td class="total">{$item.TOTAL_SCORE}</td>
                            </tr>
    {/foreach}
                        </table>
                    </div>
                </div>
                <br>
            </div>
        </div>
    <script> $(function () { $('#score_tab a:first').tab('show'); }); </script>

{include file='_footer.html'}

