{include file='_header.html' title='Student' page='score'}
    <div id="content">
        <div class="container">
        {if $ci->session->userdata("STUDENT_ID")}
            <div class="col-md-12">
                <div class="alert alert-info"><i class="fa fa-info-circle"></i> <span class="limon">kñúgkrNIFøak;muxviC¢axageRkam ³ sUmnisSitmkTak;Tgkarriyal½yfñak;qñaMsikSamUldæan b¤karriyal½ysikSaedImb,Idak;Bakü Rblgsg b¤eronsg .<i>elxTUrs½BÞkariyal½y 098 550 005</i></span></div>
            </div>
        {/if}
{$term=0}
{foreach from=$score item=item}
    {if $term != $item.TERM_NO}
        {if $term!=0}
                        </table>
                    </div>
                </div>
            </div>
        {/if}
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Term : {$item.TERM_NO}</div>
                    <div class="panel-body">
                        <table class="table table-hover-bbu table-bordered-bbu table-striped-bbu">
                            <tr>
                                <th>Course</th>
                                <th class="midterm">Midterm</th>
                                <th class="final">Final</th>
                                <th class="total">Total</th>
                            </tr>
        {$term = $item.TERM_NO}
    {/if}
                            <tr {if $item.TOTAL_SCORE < 60 }class="danger"{/if}>
                                <td>{$item.COURSE_FULL_NAME}</td>
                                <td class="midterm">{$item.MID_TERM_SCORE}</td>
                                <td class="final">{$item.FINAL_SCORE}</td>
                                <td class="total">{$item.TOTAL_SCORE}</td>
                            </tr>
    {foreachelse}
                <div class="alert alert-warning"><i class="fa fa-exclamation-triangle"> </i> Sorry, You dosen't have score result yet. any problem please contect univercity for support</div>
    {/foreach}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file='_footer.html'}
