<!DOCTYPE html>
<html lang="en">
<head>
  	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link hrel="shortcut icon" href="/assets/img/bbu.gif" rel="icon" type="image/x-icon">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" media="screen">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fonts.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/alertify.core.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/alertify.default.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/dashboard.css"  media="screen">
    <link rel="stylesheet" href="/assets/css/common.css"  media="screen">
    <!--[if lt IE 9]>
      <script src="/assets/bootstrap/js/html5shiv.js"></script>
      <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    </head>
<body>      
    <div class="header-container" id="header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-bbu" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-bbu"></i>
            </button>
            <a class="navbar-brand" href="/"> Build Bright University</a>
        </div>
        <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle user-name" data-toggle="dropdown">admin <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">View Site</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="page-container">
        <div class="sidebar-container">
            <div class="sidebar" id="sidebar">
                {include file='_sidebar.html'}
            </div>
        </div>
        <div class="page-content" id="page-content">
  
        </div>
    </div>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script>

        function handleLayout () {
            var header = $("#header").outerHeight();
            var win = $(window).innerHeight();
            var sidebar = $("#sidebar").innerHeight();
            var content = $("#page-content").innerHeight();
            var height = win - header;
            
            if (content > height) {
                $("#sidebar").css({ minHeight: content});
                return ;
            };

            $("#sidebar").css({ minHeight: height});
        }

        $(window).resize(function(event) {
            handleLayout();
        });

        $(window).load(function() {
            handleLayout();
        });
    </script>
</body>
</html>