.limon{
	font-family: "Limon S1" !important;
	font-size: 2em !important;
	line-height: 20px !important;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

th.midterm, td.midterm ,
th.final, td.final ,
th.total, td.total {
	width: 60px;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.table-striped-bbu>tbody>tr:nth-child(odd)>td, 
.table-striped-bbu>tbody>tr:nth-child(odd)>th {
	background-color: #F5F9FF;
}

.table-bordered-bbu>thead>tr>th,
.table-bordered-bbu>tbody>tr>th,
.table-bordered-bbu>tfoot>tr>th,
.table-bordered-bbu>thead>tr>td,
.table-bordered-bbu>tbody>tr>td,
.table-bordered-bbu>tfoot>tr>td {
	border: 1px solid #ddd;
}

.table-hover-bbu>tbody>tr:hover>td,
.table-hover-bbu>tbody>tr:hover>th {
	background-color: #F0F6FF;
}

.navbar-bbu {
	position: relative !important;
	background-color: #01326D;
	border-color: #023581;
	min-height: 40px !important;
}

.navbar-bbu a.navbar-brand{
	color: #fff !important;
	padding: 12px 15px !important;
}

.tab-pane {
	padding: 15px;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 4px 4px;
}

.navbar-toggle-bbu {
	margin-top: 4px !important;
	margin-right: 15px;
	margin-bottom: 0 !important;
}

.fa-bbu {
	font-size: 1.7em;
	color: #eee;
}

html, body {
	height: 100%;
	overflow: auto;
}

#page {
	position: relative;
	min-height: 100%;
}

#page-inner {
	padding-bottom: 50px;
}

/* Header */
#header {
	background: #01326d;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 5px 3px #888888;
	-moz-box-shadow: 0px 5px 3px #888888;
	box-shadow: 0px 5px 3px #888888;
}

#navigation {
	margin-bottom: 25px;
	background: #01326d;
	color: #fff;
}

#navigation a {
	color: #fff;
}

#navigation .nav>li>a:hover,
#navigation .nav>li>a:focus {
	text-decoration: underline !important;
	background-color: inherit !important;
}

#banner {
	margin: 0 auto 25px;
}

#banner img {
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #01326d;
	color: #fff;
	padding: 15px 0;
}

#logo {
	float: left;
}

#user-menu {
	margin: 25px 0;
	float: right;
	color: #fff;
}

#user-menu>ul {
	margin: 0;
	padding: 0;
}

#user-menu>ul>li{
	float: left;
	list-style: none;
	margin-left: 10px;
}

#user-menu>ul>li>a{
	color: #fff;
}

#user-menu .dropdown-menu {
	top: 120% !important;
	right: 0 !important;
	left: inherit !important;
}

#user-menu .dropdown-menu:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

#user-menu .dropdown-menu:after {
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.user-name {
	display: block;	
	color: #fff;
	font-size: 1.6em;
	text-align: right;
}

.user-menu-container>ul>li>a {
	color: #fff;
}

.user-name:link,
.user-name:visited,
.user-name:active,
.user-name {
	color: #fff;
	text-transform: capitalize;
}

.user-name:focus {
	outline: none;
}

.user-detail {
	font-size: 0.9em;
}

.modal-open {
	overflow: auto !important; 
}

.student-login {
	position: relative;
}

.student-login:before {
	content: " ";
	position: absolute;
	bottom: 0;
	top:0;
	right: 0;
	width: 1px;
	border-right: 1px solid #ECECEC;
}

#login .modal-footer {
	text-align: left;
}

#login .alert {
	margin-bottom: 0;
}

.modal.no-js {
    display: block !important;
    position: relative !important;
    overflow: inherit !important;
}

/* Bootstrap */

.panel > .panel-heading {
	font-size: 1.3em;
	background: #0E51A2;
}

.panel-primary {
	border-color: #0E51A2;
}

.carousel-control {
	background: none !important;
}

/* Debug */

.debug {
	text-align: right;
}
#navigation a.active {
	position: relative;
}

#navigation a.active:after {
    left: 50%;
    margin-left: -5px;
    position: absolute;
    bottom: 0;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-right: 5px solid transparent;
}

#banner .flexslider{
	max-width: 1170px;
	margin: 0 auto;
}

table tr.danger td {
	background: #f2dede !important;
}