.navbar-header a {
    color: #fff;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.bs-callout {
    display: none;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}

.bs-callout h4 {
    margin-top: 0;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout p {
    font-size: 12px;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-success {
    background-color: #F0FFF0;
    border-color: #4CAE4C; 
}

.header-container {
    background: #01326D;
    border: 1px solid #023581;
}

.sidebar-container {
    width: 170px;
    float: left;
}

.sidebar {
    position: relative;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.sidebar_shadow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 6px;
    background-image: url(../img/sidebar_shadow.png);
    background-position: top right;
    background-repeat: repeat-y;
}

.page-container {
    overflow: hidden;
    margin-top: -25px;
}

.page-content {
    overflow: hidden;
    margin-left: 170px;
    padding: 0 20px 10px 20px;
}

/* Sidebar navigation */
.sidebar>ul:first-child>li>a {
    border-top: 1px solid #DFDFDF;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom:1px solid #DFDFDF;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover {
    color: #fff;
    background-color: #428bca;
}
.dz-error-message {
    /*display: none !important;*/
}
.file-name {
    font-weight: bold;
}

.no-sidebar .page-content{
    margin-left: 0;
}

.change_group_control {
    visibility: hidden;
    margin-left: 10px;
}

.btn-link {
    margin: 0 !important;
    padding: 0 !important;
}

.page-header.middle {
    text-align: center;
}

input {
    font-weight: bold;
}

label {
    color: #8B8B8B;
}

.post_date {
    color: #9197A3;
}

.panel img{
    max-width: 100%;
}

form .btn {
    margin-top: 10px;
}

.primary {
    width: 50%;
}

.page-header .btn-sm.pull-right {
    margin-top: 5px;
}